@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(79% 0.209 151.711);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(70% 0.165 254.624);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(70% 0.191 22.216);
  --color-accent-content: oklch(25% 0.092 26.042);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

#volume-slider::-webkit-slider-runnable-track {
  background: #27272a; /* zinc-800 */
  border-radius: 999px;
  height: 4px;
}
#volume-slider::-webkit-slider-thumb {
  margin-top: -6px; /* Center the thumb */
}
